PORT=5000
MONGODB_URI=mongodb://tharshal44_db_user:Admin123@ac-u8bgqoa-shard-00-00.ujvqmf4.mongodb.net:27017,ac-u8bgqoa-shard-00-01.ujvqmf4.mongodb.net:27017,ac-u8bgqoa-shard-00-02.ujvqmf4.mongodb.net:27017/?replicaSet=atlas-tb5e18-shard-0&ssl=true&authSource=admin
JWT_SECRET=S02yiRqEoH4NFJNZnDmOkit5m6b7RLWR0Y-ajIA2ANS3a2OrTTBMftDZ_D7Kzu8X
JWT_REFRESH_SECRET=MoC5WO-mXa9uvRQni709kWQWMdizBgJYMbj63W2ITw6Q779g1PqMKsz9gtwkuhsz
CLIENT_URL=http://localhost:5173


