@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    min-height: 100vh;
    background-color: #F1F3EE;
    color: #4C566A;
  }
}

/* overlay background */
@layer components {
  .overlay {
    @apply fixed inset-0 pointer-events-none bg-center bg-cover opacity-5;
    background-image: url('/leaf-pattern.svg');
  }
}
